<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        .success{
            color:green;
        }
    </style>
</head>
<body>
    <div style="text-align:center">
        <h1>Hi {{name}}. Welcome Back To Dashboard</h1>

        {% if perms.staff.add_blog and perms.staff.change_blog %}
            <input type="submit" value="Add">
            <input type="submit" value="Update">
        {% endif %}

        <input type="submit" value="View">

        {% if perms.staff.delete_blog %}
            <input type="submit" value="Delete">    
        {% endif %}

                <br><br><br>
        <a href="{% url 'logout' %}"> Logout </a>
    </div>
        

</body>
</html>