<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Registration</title>
</head>
<body>

    <form action="" method="get">

        <h3>In paragraph Tag</h3>
            {{form.as_p}}   
                <br>

        <h3>In ul Tag</h3>
            {{form.as_ul}}   
                <br>

        <h3>Show only one field or selective field</h3>
            NAME: {{form.name}}   

        <input type="submit" value="submit">

    </form>    

</body>
</html>