<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>

    <br><br><br>
    <center>
        <form action="" method="post" novalidate>
                {% csrf_token %}
                <h2>Are You Sure?</h2>
            <input type="submit" value="Delete">
            <a href="{% url 'student' %}">Cancel</a>
        </form>
    </center>


</body>
</html>