<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    
    <h1>I AM Contact Page</h1>
    <a href="{% url 'logout' %}"> Logout</a>
    <a href="{% url 'profile' %}"> Profiile Page</a>
    <a href="{% url 'about' %}"> About Page</a>
    <a href="{% url 'password_change' %}"> Change Password</a>
</body>
</html>