<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    
    <h1>Home page</h1>

    <a href="{% url 'detail' 1 %}">Detail 1</a>
    <a href="{% url 'detail' 2 %}">Detail 2</a>

    <br>

    <a href="{% url 'sub_detail' 1 2 %}">Sub detail 12</a>
    <a href="{% url 'sub_detail' 1 3 %}">Sub detail 13</a>
</body>
</html>