<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
</head>
<body>
        <h1>Student Information</h1>
        {% for student in students %}
            Id: {{student.id}},<br> 
            Name: {{student.name}},<br> 
            Roll No: {{student.rollNo}},<br> 
            City: {{student.city}},<br>
            Marks: {{student.marks}},<br>
            Passing Date: {{student.passing_date}},<br>
            Admission Date: {{student.admission_date}},<br>
            <br><br>
        {% endfor %}
        
</body>
</html>